{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:promise/recommended",
    "plugin:import/recommended",
    "plugin:react-native/all",
    "plugin:jest/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "flowtype",
    "import",
    "jest",
    "promise",
    "prettier"
  ],
  "env": {
    "es6": true,
    "react-native/react-native": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", { "packageDir": "./"}],
    "arrow-parens": ["off"],
    "react/require-default-props": [0],
    "operator-linebreak": ["error", "after"],
    "react/jsx-wrap-multilines": ["error", { "logical": "ignore" }],
    "no-confusing-arrow": ["off"],
    "react-native/no-inline-styles": ["off"],
    "no-param-reassign": ["off"],
    "import/prefer-default-export": ["off"]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
      "node": {
        "paths": ["./src", "./node_modules"]
      }
    }
  }
}
